<header class="p-3 text-bg-dark">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="left-nav">
      <a href = "/" class="text-white text-bold text-decoration-none">
        <strong>Friend Chat</strong>
      </a>
    </div>
    <div class="right-nav">
      <%= link_to "Sign up", login_path, class:'btn btn-primary', type:'button' %>
      <%= link_to "Login", login_path, class:'btn btn-light ms-3', type:'button' %>
    </div>
  </div>
</header>